body::before {
  content: '';
  position: fixed;
  background: #040404 url('../public/bg.jpg') left bottom no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

@media screen and (max-width: 480px) {
  body::before {
    background: url('../public/bg-mobile.jpg') right bottom;
  }
}

.content {
  margin-left: 7vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 3rem;
  font-weight: 500;
  font-family: 'Rowdies';
}

.tabs-wrapper {
  max-width: 550px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #ffffff0f;
  padding: 8px 4px;
  min-height: 330px;
}

@media screen and (max-width: 480px) {
  body::before {
    background-size: cover;
    background-repeat: repeat;
  }

  .tabs-wrapper {
    max-width: 80%;
    min-height: 70%;
  }
}

.tabs {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
}

.tab-list,
.tab {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
}

.tab-list {
  display: flex;
  width: 100%;
  grid-row-gap: 10px;
  flex-wrap: wrap;
}

.tab {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  position: relative;
  user-select: none;
  margin-right: 8px;
  line-height: 1;

  &__label {
    padding: 8px;
  }

  &--selected {
    .tab__label {
      background: #00000087;
    }
  }
}

.tab-item-description {
  margin-top: 8px;
  padding: 16px 16px 0;
  border-top: 1px solid #edbe14;
  line-height: 1.5;

  &__supporting {
    margin-top: 12px;
  }
}
